@import "./Abstracts/_functions";
@import "./Abstracts/_mixins";
@import "./Abstracts/_variables";


@import "./Base/animations";
@import "./Base/base";
@import "./Base/typography";
@import "./Base/utilities";

@import "./Components/button";

@import "./Layout/header";
@import "./Layout/grid";

@import "./Pages/home";


section .section-about {
  background-color: #000; 
  padding: 25rem; 
  height: 150vh;
} 