.header {
  height: 95vh;
  background-image: 
  /* linear-gradient(
    to right bottom,
    $color-dark-grey (0.3), 
    $color-white (0.8)), */
  url(../Images/1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  color: $color-white;
  border: solid .1rem black;

  // clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);

  &__text-box {
    position: absolute;
    top: 20%;
    bottom: 50%;
    transform: translate(50%, 50%);
    text-align: center;
  }
}

