.header {
  height: 95vh;
  display: flex;
  position: relative;

  &__text-box {
    text-align: center;
    // position: absolute;
    // top: 0;
    // right:0;
  }


  &__image img {
    width: 68.5rem;
    height: auto;
    color: $color-white;
  }

  &__welcome {
    width: calc(100% - 70rem);
    border: 1px solid red;
    padding: 15rem 0 ;
    width: 700px;
    margin: 40rem auto 0;

    text-align: center;
  }

  span {
    position: absolute;
    top: 0;
    left: 40%;
    text-align: right;
  }
}

