.header {
  height: 95vh;
  display: flex;

  &__text-box {
    text-align: center;
  }


  &__image img {
    width: 68.5rem;
    height: auto;
    color: $color-white;
  }

  &__welcome {
    width: calc(100% - 70rem);
    border: 1px solid red;
    padding: 15rem 0 ;
    width: 700px;
    margin: 0 auto;
    text-align: center;
  }
}

