.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  transition: all .2s;
  position: relative;
}

.btn:hover{
  transform:translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn--white {
  background-color: $color-light-grey-2;
  color: $color-black;
  padding:30px 30px;
  display: inline-block;
  font-size: 1.6rem;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn--white::after {
  background-color: $color-white;
}

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards
}